@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OptimaM';
  src: url('/fonts/Optima Medium.ttf');
  font-weight: 550;
  font-style: medium;
}

@font-face {
  font-family: 'OptimaB';
  src: url('/fonts/Optima_B.ttf');
  font-weight: 550;
  font-style: medium;
}

@font-face {
  font-family: 'Optima';
  src: url('/fonts/OPTIMA.TTF');
  font-weight: 550;
  font-style: medium;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
